*, *::after, *::before {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 82.6%;
}

body {
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-medium);
}

.container {
  width: 100%;
  height: auto;
  position: relative;
}
